<h1>Listing regions</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Local code</th>
    <th>Name</th>
    <th>Continent</th>
    <th>Country</th>
    <th>Wikipedia link</th>
    <th>Keywords</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.code %></td>
    <td><%= region.local_code %></td>
    <td><%= region.name %></td>
    <td><%= region.continent %></td>
    <td><%= region.country_id %></td>
    <td><%= region.wikipedia_link %></td>
    <td><%= region.keywords %></td>
    <td><%= link_to 'Show', region %></td>
    <td><%= link_to 'Edit', edit_region_path(region) %></td>
    <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_region_path %>
